<p id="notice"><%= notice %></p>

<h1>Listing Media Items</h1>
<%= link_to 'New Media item', new_media_item_path %>
<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Description</th>
      <th>Kind</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @media_items.each do |media_item| %>
      <tr>
        <td><%= media_item.url %></td>
        <td><%= media_item.description %></td>
        <td><%= media_item.kind %></td>
        <td><%= link_to 'Destroy', media_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

